.bellowsHeader {
    background: hsla(0, 0%, 100%, 1);

    background: linear-gradient(315deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 1) 15%, hsla(190, 87%, 22%, 1) 100%);
    
    background: -moz-linear-gradient(315deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 1) 15%, hsla(190, 87%, 22%, 1) 100%);
    
    background: -webkit-linear-gradient(315deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 1) 15%, hsla(190, 87%, 22%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1 );
}

;